body {
  color: #444444; /*dark gray*/
  background-color: #EEEEEE; /*very light gray*/
  padding: 0;
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

ul {
  list-style-type: circle;
}

header {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #444444;
    background-color: #EEEEEE;
}

p {
    text-align: left;
    width: 60%
}

.navi-title {
    padding-left: 15px;
}

.navi-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 15px;
}

.navi-item {
    border-right: 1px solid #444444;
}

header a {
    padding: 8px;
}

a {
  text-decoration: none;
  color: #444444;
}

a:hover {
  text-decoration: underline;
  font-weight: normal;
}

a p {
    text-decoration: none;
    margin: 0 auto;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 25px 25px 0px 0px;
}

.section {
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #444444;
}

.about {
    padding: 75px 0px 0px 0px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}

.game-video {
    width: 420px;
    height: 315px;
}