body {
    color: #444444; /*dark gray*/
    background-color: #EEEEEE; /*very light gray*/
    padding: 0;
    margin: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12pt;
}

ul {
    list-style-type: circle;
}

ol {
    padding-left: 1.25em;
    list-style-type: upper-roman;
}

ol ol {
    list-style-type: lower-roman;
}

.header-iframe {
    position: fixed;
    width: 100%;
    height: 4.25rem;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #444444;
    background-color: #EEEEEE;
}

p {
    margin: 0;
    padding: .5em;
    text-align: left;
    width: 98%;
    @media (min-width:900px) {
        width: 60%;
    }
}

.navi-title {
    padding-left: 1rem;
}

.navi-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: .5rem;
}

.navi-item {
    border-right: 1px solid #444444;
}

header a {
    padding: .5rem;
    text-decoration: none;
    color: #444444;
}

a {
    /* text-decoration: none; */
    color: #444444;
}

a:hover {
    text-decoration: underline;
    font-weight: normal;
}

a p {
    text-decoration: none;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 1.5rem 1.5rem 0rem 0rem;
}

.section {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #444444;
}

.about {
    padding: 4.688rem 0px 0px 0px;
}

.table-of-contents {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 98%;
    @media (min-width:900px) {
        width: 60%;
    }
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    width: 100%;
}

.game-preview {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @media (min-width:900px) {
        flex-direction: row;
        width: 60%
    }
}

.game-video {
    margin-top: .5rem;
    width: 98%;
    height: 12rem;
    @media (min-width:900px) {
        width: 50%;
        height: 35vh;
    }
}

.game-image {
    padding-top: .5rem;
    padding-right: .25rem;
    width: 98%;
    height: 12rem;
    object-fit: cover;
    @media (min-width:900px) {
        width: 50%;
        height: 35vh;
    }
}

.game-image-square {
    padding-top: .5rem;
    padding-right: .25rem;
    width: 98%;
    object-fit: cover;
    @media (min-width:900px) {
        width: 50%;
    }
}

.short-description {
    line-height: 1.25;
}

.small-image {
    width: 98%;
    @media (min-width:900px) {
        width: 20%;
    }
}

.standalone-image {
    width: 98%;
    @media (min-width:900px) {
        width: 60%;
    }
}

.standalone-video {
    width: 98%;
    height: 12rem;
    @media (min-width:900px) {
        width: 60%;
        height: 70vh;
    }
}

.video-wrapper {
    width: 100%;
    height: 56vh;
    @media (min-width:900px) {
        width: 60%;
        height: 80vh;
    }
}

.image-description {
    padding-top: .75rem;
    padding-bottom: 1.5rem;
    line-height: 1.25;
}

:target::before { 
    display: block; 
    content: " "; 
    height: 4.688rem; 
}